# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: webapp

on:
  push:
    branches:
      - main
      - dz-dev
  pull_request:
    branches:
      - main
      - dz-dev

jobs:
  webapp:

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0.21
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: userman
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5
    steps:
      - name: Set up JDK 1.8
        uses: actions/checkout@v2
        with:
          java-version: '1.8'
          distribution: 'temurin'
          cache: maven

      - name: Verify userman DB exists
        run: mysql --host 127.0.0.1 --port 3306 -uroot -proot -e "SHOW DATABASES LIKE 'userman'"
      - name: Build with maven
        run: mvn --batch -mode --update -snapshots package
